# Python
__pycache__/

# Python environments
venv/
.venv
.env

# Terraform files that are created
*.tfstate*
.terraform/
.terraform.lock.hcl

# Jupyter notebooks
*.ipynb*

# folder for local data
data/*
